# Python
# =============================================================================
# Standard ignores for Python projects.

# Virtual environments
# Ignore common virtual environment directories, whether named `venv`, `env`, or `.venv`.
venv/
env/
.venv/
# Pipenv-specific virtual environment directory.
.direnv/
node_modules/
api_key.py
api.py
static/images/
samsung_tv_token.txt
# Byte-compiled / optimized / DLL files
# Compiled Python files and other generated artifacts.
__pycache__/
*.py[cod]
*$py.class

# Distribution and packaging
# Directories and files generated during packaging and distribution.
dist/
build/
*.egg-info/
.eggs/

# Installer logs
# Logs from pip and other installers.
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
# Generated reports from testing tools.
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Flask-specific
# =============================================================================
# Files and directories specific to Flask applications.

# Instance folder
# The `instance` folder holds local, unversioned configuration and database files.
instance/

# Secret and configuration files
# Exclude sensitive data like API keys, database credentials, and other secrets.
# The .env file is used to store environment variables and should never be committed.
.env
.flaskenv

# Database files
# Ignore local database files generated during development.
*.sqlite
*.db

# OS-specific
# =============================================================================
# Ignore system-generated and OS-specific files.

# Windows
Thumbs.db
ehthumbs.db

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE-specific
# =============================================================================
# Exclude files generated by popular Integrated Development Environments.

# Visual Studio Code
.vscode/
# Exclude the entire .vscode folder but with a negation to include extensions.json, which can be useful for team consistency.
!.vscode/extensions.json

# JetBrains (PyCharm, WebStorm, etc.)
# The .idea folder stores project-specific settings and is typically ignored.
.idea/

