<section class="relative m-h-screen sm:h-screen mt-6 sm:mt-0">
  <!-- Sticky Background Image -->
  <div
    class="sticky top-0 h-screen bg-cover bg-center flex items-center justify-center px-6 text-center lg:px-8"
    style="background-image: url(&quot;/static/images/smartFridge.jpeg&quot;)"
  >
    <div class="absolute inset-0 bg-black/50 z-0"></div>

    <!-- Newsletter Content -->
    <div
      class="relative isolate overflow-hidden bg-transparent px-6 py-24 shadow-2xl rounded-2xl sm:rounded-3xl sm:px-24 xl:py-32"
    >
      <h2
        class="mx-auto max-w-2xl text-center text-3xl font-bold tracking-tight text-white sm:text-4xl"
      >
        Sign up for our newsletter
      </h2>

      <p
        class="mx-auto mt-2 max-w-xl text-center text-lg leading-8 text-gray-300"
      >
        Keep pace with SecureCloud advancements! Join our mailing list for
        selective, noteworthy updates.
      </p>

      <form class="mx-auto mt-10 flex max-w-md gap-x-4">
        <label for="email-address" class="sr-only">Email address</label>
        <input
          id="email-address"
          name="email"
          type="email"
          autocomplete="email"
          required=""
          class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-white sm:text-sm sm:leading-6"
          placeholder="Enter your email"
        />

        <button
          type="submit"
          class="flex-none rounded-md bg-secondary px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
        >
          Notify me
        </button>
      </form>
    </div>
  </div>
</section>
